<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Búqueda Flask/AJAX</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body>
    <header>

        <div class="container">

            <div class="row justify-content-center mt-5">

                <div class="col-md-12 text-center">
                    <h1 class="display-6 mb-6" style="background-color: #f22c40; color: white; padding: 15px; border-radius: 10px;">Cómo Implementar una Búsqueda en tu Sitio Web con Flask y AJAX</h1>
                <hr>
                </div>
            </div>
        </div>
    </header>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card form-group border border-primary">
                <div class="card-body">
                    <div class="form-group">
                        <div class="d-flex align-items-center">
                            <input name="codigo" type="text" class="form-control border border-primary mx-2" id="codubigeo" style="max-width:120px;" placeholder="Ingresar Codubigeo">
                            <button type="button" class="btn btn-primary btn-md" id="button-Ubigeo">Buscar
                               <i class="fa fa-search"></i>
                            </button>
                        </div>

                        <div class="form-group mt-3">
                            <input name="descrip" type="text" class="form-control border border-primary mx-2" id="descripcion">
                        </div>
                    </div>
                </div>
            </div>

        </div>

      </div>
</div>

</body>
</html>